[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/sgabe/oh-my-zsh
[submodule "vim_runtime"]
	path = vim_runtime
	url = https://github.com/amix/vimrc.git
[submodule "gef"]
	path = gef
	url = https://github.com/hugsy/gef
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
